
<div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign Up</h3>
  
        <div class="formGroup">
          <input type="email" class="form-control" placeholder="Email Address" #userEmail required>
        </div>
  <br>
        <div class="formGroup">
          <input type="password" class="form-control" placeholder="Password" #userPwd required>
        </div>
        <br>
  
        <div class="formGroup">
          <input type="button" class="btn btn-success d-block mx-auto" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
        </div>
  <br>
  
        <!-- Continue with Google -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn btn-danger d-block mx-auto" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div>
  <br>
        <!-- Continue with Facebook -->
        <div class="formGroup">
          <button type="button" class="btn facebookBtn btn-primary d-block mx-auto" (click)="authService.FacebookAuth()">
            <i class="fab fa-facebook"></i>
            Continue with Facebook
          </button>
        </div>
<br>
        <!-- Continue with Twitter -->
        <div class="formGroup">
            <button type="button" class="btn twitterBtn btn-primary d-block mx-auto" (click)="authService.TwitterAuth()">
              <i class="fab fa-twitter"></i>
              Continue with Twitter
            </button>
          </div>
      </div>
  <br>
      <div class="redirectToLogin">
        <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
    </div>
</div>
  
</div>
</div>
<!--/row-->
</div>
<!--/col-->
</div>
</div>
</div>